@font-face { font-family: 'HelveticaNeueLTPro67MdCn'; src: url('font/helveticaneueltpro-mdcn-webfont.eot'); src: url('font/helveticaneueltpro-mdcn-webfont.eot?#iefix') format('embedded-opentype'), url('font/helveticaneueltpro-mdcn-webfont.woff' ) format( 'woff' ), url( 'font/helveticaneueltpro-mdcn-webfont.ttf' ) format( 'truetype' ), url('font/helveticaneueltpro-mdcn-webfont.svg#HelveticaNeueLTPro67MdCn') format('svg'); font-weight: normal; font-style: normal; }

body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; }
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
 
#seo { position: absolute; top: 2300px; left: 0px; }


body {border: 0; width: 100%; background: #fff; min-width: 920px;}
.tablewrap {width: 100%;}
.topbar {background-color: #001146; height: 0px; vertical-align: top; }
.topbarmid {background-color: #001146; height: 0px; width: 920px;vertical-align: top; overflow: hidden;}

.headerleft {background-image: url('img/header-left.png'); background-repeat: repeat; height:150px;}
.headerright {background-image: url('img/header-right.png'); background-repeat: repeat; height:150px;}
.headermid {z-index:2; background-image: url('img/header-mid.png'); background-repeat: repeat; height: 150px; width: 920px; position: absolute;} /*-- for IE 6-9 positioning: relative --*/
.headerbottomspace {border-style: solid; height: 20px; border-width: 1px 0px 0px 0px; border-color: #818284;}

#TopLogoClickArea {position: absolute; top: 28px; left: 8px; width:116px; height:106px; cursor:hand;}

#topbarmenu {height: 31px; width: 920px; position: relative; }
#topbarmenu1 {position: absolute; top: 6px; left: 0px;}
#topbarmenu2 {position: absolute; top: 6px; right: 0px;}

#TopMenu {position: absolute; top: 46px; left: 509px; z-index:1000;}
#Menu1 {position: absolute; top: 38px; left: 0px; height: 136px; width: 220px; display:none; } /*-- border: solid 1px #ff0000; --*/
#Menu2 {position: absolute; top: 38px; left: 104px; height: 270px; width: 270px; display:none; }
#Menu3 {position: absolute; top: 38px; left: 206px; height: 50px; width: 104px; display:none; }
#Menu4 {position: absolute; top: 38px; left: 309px; height: 50px; width: 104px; display:none; }

.MenuWrap { position: relative; top: 0px; left: 0px; font-family: HelveticaNeueLTPro67MdCn, ArialNarrow, Helvetica-Condensed, Arial, Helvetica; font-size: 16px; color:white; text-shadow: 1px 1px 2px #333; }
.MenuWrap td{padding: 5px 60px 5px 5px; background-image: url('img/menubg.png');background-repeat: repeat;display: block; font-family: HelveticaNeueLTPro67MdCn, ArialNarrow, Helvetica-Condensed, Arial, Helvetica;text-shadow: 1px 1px 2px #333;}
.MenuWrap td:hover {cursor:pointer; background-image: url('img/menubgsel.png'); }
.MenuWrap img {margin-right:10px; vertical-align:middle;}
.MenuWrap a {text-decoration: none; color: #ffffff; vertical-align:middle;}
.MenuWrap a:hover {text-decoration: none; color: #ffffff;}

.MenuOuter { position: relative; top: 0px; left: 0px; font-family: HelveticaNeueLTPro67MdCn, ArialNarrow, Helvetica-Condensed, Arial, Helvetica; font-size: 22px; }
.MenuOuter td{padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;}

.MenuInner {padding: 5px 60px 5px 5px; background-image: url('img/menubg.png');background-repeat: repeat;display: block; }
.MenuInner:hover {cursor:pointer; background-image: url('img/menubgsel.png'); }
.MenuOuter a {text-decoration: none; color: #ffffff; vertical-align:middle;}
.MenuOuter a:hover {text-decoration: none; color: #ffffff;}
.MenuInner img {margin-right:10px; vertical-align:middle;}

.bottombar {background-color: #001146; height: 20px; vertical-align: top;}
.bottombarmid {background-color: #001146; height: 20px; width: 920px; vertical-align: middle; text-align: center; overflow: hidden; font-family: Tahoma, Helvetica-Condensed, Arial, Helvetica; font-size: 12px; color: #696A6B;}

.footer {background-image: url('img/footer.gif'); background-repeat: repeat; height:150px; vertical-align: top;}
.footermid {background-image: url('img/footer.gif'); background-repeat: repeat; height: 150px; width: 920px; vertical-align: top; margin: 0px; padding: 0px;}
.mainfooter {vertical-align: top; padding: 0px 0px 0px 0px;}
.mainfooter h2 { font-size: 18px; font-family: HelveticaNeueLTPro67MdCn, ArialNarrow, Helvetica-Condensed, Arial, Helvetica; color: #545556; margin: 0px 0px 6px 0px;}
.mainfooter li { font-size: 14px; font-family: Tahoma, Helvetica-Condensed, Arial, Helvetica; color: #545556; line-height: 1.5em; text-align: left; margin: 0px 0px 0px 0px;}
.mainfooter a {text-decoration: none; color: #545556;}
.mainfooter a:hover {text-decoration: underline; color: #545556;}

.maintext {vertical-align: top; padding: 0px 0px 0px 20px; border-style: dashed; border-width: 0px 0px 0px 1px; border-color: #818284;}
.maintext h2 {font-size: 28px; font-family: HelveticaNeueLTPro67MdCn, ArialNarrow, Helvetica-Condensed, Arial, Helvetica; color: #001146; margin: 0px 0px 8px 0px;}
.maintext h3 {font-size: 22px; font-family: HelveticaNeueLTPro67MdCn, ArialNarrow, Helvetica-Condensed, Arial, Helvetica; color: #001146; margin: 0px 0px 12px 0px;}
.maintext h4 {font-size: 18px; font-family: HelveticaNeueLTPro67MdCn, ArialNarrow, Helvetica-Condensed, Arial, Helvetica; color: #001146; margin: 10px 0px 6px 0px;}
.maintext a {text-decoration: none; color: #001146;}
.maintext a:visited {text-decoration:none;}
.maintext a:hover {text-decoration:underline;}
.maintext p { font-size: 14px; font-family: Arial, Helvetica; color: #545556; line-height: 1.6em; text-align: justify; margin: 0px 0px 6px 0px; }
.maintext ul {list-style-type: disc; list-style-image: url('img/point.gif'); padding: 0px 0px 0px 14px; margin: 0px 0px 0px 0px; line-height: 1.6em;}
.maintext li {font-family:  Arial, Helvetica ; color: #545556; font-size: 14px; line-height: 1.4em; margin: 0px 0px 3px 0px;}

 .table p { font-size: 14px; font-family: Arial, Helvetica; color: #545556; line-height: 1.6em; text-align: justify; margin: 0px 0px 0px 0px; }

.contact td h2 {font-size: 32px; font-family: HelveticaNeueLTPro67MdCn, ArialNarrow, Helvetica-Condensed, Arial, Helvetica; color: #001146; margin: 0px 0px 8px 0px;}
.contact td p { font-size: 14px; font-family: Tahoma, Helvetica-Condensed, Arial, Helvetica; color: #545556; line-height: 1.6em; text-align: justify; margin: 0px 0px 6px 0px; }

.servicepicwrap {width:400px; height:222px; float:left; margin:0px 30px 0px 0px; position:relative; }
.servicepic {display:block; position:absolute; border: solid 1px #C9C9C9; height: 222px;}
.servicebutton {display:block; position:absolute; bottom:5px; right:5px;}

.qualitylist {margin:0px 20px 0px 0px; }
.qualitylist ul {color: #545556; list-style-type: disc; list-style-image: url('img/point2.gif'); padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; line-height: 1.2em;}
.qualitylist li {color: #545556; font-family:  Arial, Helvetica ; font-size: 14px; line-height: 1.4em; margin: 0px 0px 3px 13px;}

.BoxMiddleText {position: relative; top: -50%}

.BoxStageHeader {font-family: HelveticaNeueLTPro67MdCn, Arial Narrow, Helvetica; font-size: 18px; color: #ffffff;  background-color: #7481A1; text-align: left; vertical-align: top; margin: 0px 0px 0px 0px;padding: 12px 12px 12px 14px;}
.BoxStageHeader2 {font-family: HelveticaNeueLTPro67MdCn, Arial Narrow, Helvetica; font-size: 18px; color: #ffffff;  background-color: #7481A1; text-align: center; vertical-align: top; margin: 0px 0px 0px 0px;padding: 12px 12px 12px 14px;}
.BoxStage {font-family: Arial, Helvetica; font-size: 13px; letter-spacing: 1pt; background-color: #D5D9E3; text-align: center; margin: 0px 0px 0px 0px; padding: 12px 8px 12px 8px;}
.BoxStage a {color: #202020; font-weight: normal;}
.BoxStage a:hover {color: #202020; text-decoration: underline;font-weight: normal;}
.BoxStage a:active {color: #202020; text-decoration: none;font-weight: normal;}
.BoxStageEmpty {background-color: #EDF0F3;}

.BoxGrey {font-family:  Arial, Helvetica;font-size: 13px;background-color: #D5D9E3;text-align: center;margin: 0px 0px 0px 0px;padding: 12px 8px 12px 8px;}
.BoxGrey a {color: #202020; font-weight: normal;}
.BoxGrey a:hover {color: #202020; text-decoration: underline;font-weight: normal;}
.BoxGrey a:active {color: #202020; text-decoration: none;font-weight: normal;}
.BoxGreyB {background-color: #D5D9E3; font-size: 11px; text-align: center; margin: 0px 0px 0px 0px; padding: 6px 6px 6px 6px; }
.BoxGreyC {background-color: #D5D9E3; font-size: 11px; text-align: left; margin: 0px 0px 0px 0px; padding: 6px 6px 6px 6px;}
.BoxGrey2 {font-family: Arial, Helvetica; font-size: 14px; background-color: #7481A1;color: #F3F4F7;font-weight: bold;text-align: center;margin: 0px 0px 0px 0px;padding: 8px 8px 8px 8px;vertical-align: middle;}

.BulletPointBoxed2 {color: #202020; font-size: 10px; text-align: left; font-weight: normal; margin: 5px 0px 5px 0px; padding: 0px 0px 0px 0px;}
.BulletPointBoxed2 UL {list-style-type: disc; list-style-image: url('img/point.gif'); padding: 0px 0px 0px 14px; margin: 0px 0px 0px 0px; line-height: 1.6em;}
.BulletPointBoxed2 LI {font-family:  Arial, Helvetica ; font-size: 13px; line-height: 1.4em; margin: 0px 0px 3px 0px;}
.BulletPointHeader {font-family:  Arial, Helvetica ; font-size: 13px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 14px; font-weight: bold;}
.BulletPointBoxed {color: #202020; font-size: 11px; text-align: left; font-weight: normal; margin: 5px 0px 10px 0px; padding: 0px 0px 0px 0px; }
.BulletPointBoxed UL { list-style-type: disc; list-style-image: url('img/point.gif'); padding: 0px 0px 0px 10px; margin: 0px 0px 0px 10px; line-height: 1.6em; }
.BulletPointBoxed LI {font-family: Helvetica-Condensed, Arial, Helvetica ; font-size: 13px;  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; line-height: 1.6em; }

.PMTableSub {width:457px; font-family:  Arial, Helvetica; font-size: 13px;}

.TableTextBoxed {font-family: HelveticaNeueLTPro67MdCn, Arial Narrow, Helvetica; font-size: 11px; font-weight: bold; background-color: #C9CFDB; color: #ffffff; text-align: center;margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
.TableTextBoxed a:hover {color: #ffffff; text-decoration: underline;font-weight: normal;}
.TableTextBoxed2 {font-family: HelveticaNeueLTPro67MdCn, Arial Narrow, Helvetica; font-size: 11px; font-weight: bold; background-color: #7481A1; color: #ffffff; text-align: center; margin: 0px 0px 0px 0px; padding: 6px 4px 6px 4px; vertical-align: middle; }
.TitleBoxed { background-color: #7481A1; text-align: center; margin: 0px 0px 0px 0px; padding: 6px 4px 6px 4px; vertical-align: middle; }
.RefPicBoxed {text-align: center; margin: 10px 0px 10px 0px; padding: 0px 0px 0px 0px; text-align: center; }
.RefTitle {background-color: #8D98B3;  font-family: HelveticaNeueLTPro67MdCn, Arial Narrow, Helvetica; font-size: 15px; font-weight: normal; padding: 6px 4px 6px 4px; color: #ffffff; text-align: center; margin: 0px 0px 0px 0px;}
.RefTitle a:hover {color: #ffffff; text-decoration: underline;font-weight: normal;}

.carouselentry {background-color: #BDC4D3;}
.carouseltitle {width:203px; background-color: #7481A1; text-align: center; margin: 0px 0px 0px 0px; padding: 5px 0px 5px 0px; }
.carouselentry a {font-family: Arial Narrow, Helvetica; font-size: 13px; font-weight: bold; color: #ffffff; text-decoration: none; }
.carouselentry a:hover {text-decoration: underline;}

.carouselentry  img {border:0px; margin: 10px 10px 10px 10px;}